/* 헤더영역 공통 적용 */
#gnb_area {
    padding:0 60px; height:70px;
    display:flex; flex-flow:row wrap;
    justify-content:space-between; align-items:center;
    position:fixed; top:0; left:0; z-index:999;
    width:100%;
}
#gnb_area #logo {}
#gnb_area #logo a {}
#gnb_area #logo a img {width:153px;}
#gnb_area nav {}
/* ----------------------------- sub_bg 디자인 */
#gnb_area nav .sub_bg {
    background-color:rgba(255, 255, 255, .8);
    position:absolute; width:100%;
    height:331px;
    left:0; top:70px;
}
#gnb_area nav .gnb {
    display:flex; flex-flow:row wrap;
    justify-content:space-between; align-items:center;
}
#gnb_area nav .gnb > li {
    margin-right:33px;
    display:inline-block;
}
#gnb_area nav .gnb > li > a {
    font-size:1.125rem; font-weight: 700;
    color: #111;
}
#gnb_area nav .gnb li:last-child {margin-right:0;}
#gnb_area nav .gnb li .sub_menu {
    position:absolute;
    width:100%; top:70px; left:0;
    display:flex; flex-flow:row wrap;
    justify-content:center; color:#111;
}
#gnb_area nav .gnb li .sub_menu li {margin-bottom:10px;} /* 공통적용 */
#gnb_area nav .gnb li .sub_menu .sub_left {padding:30px 50px 50px;}
#gnb_area nav .gnb li .sub_menu .sub_left li {}
#gnb_area nav .gnb li .sub_menu .sub_left li a {font-weight:500;}
#gnb_area nav .gnb li .sub_menu .sub_left li a strong {color:#171C8F; font-weight:500;}
#gnb_area nav .gnb li .sub_menu .sub_center::before {
    content:''; background-color:#aaa; width:1px; height:200px;
    display:block;
}
#gnb_area nav .gnb li .sub_menu .sub_center {
    display:flex;
    flex-flow:row wrap; padding:30px 0 50px 30px;
}
#gnb_area nav .gnb li .sub_menu .sub_center > li {margin-left:25px;}
#gnb_area nav .gnb li .sub_menu .sub_center > li .depth1 {display:block; margin-bottom:10px; font-weight:500;}
#gnb_area nav .gnb li .sub_menu .sub_center > li .depth2 {}
#gnb_area nav .gnb li .sub_menu .sub_center > li .depth2 li {}
#gnb_area nav .gnb li .sub_menu .sub_center > li .depth2 li a {color:#525252;}
#gnb_area .lnb {}
#gnb_area .lnb a {}
#gnb_area .lnb .search {}
#gnb_area .lnb a img {width:44px;}
/* footer영역 공통 적용 */
footer {
    display:flex; flex-flow: column nowrap;
    color:#333; padding:50px 154px 70px; 
    background-color:#F6F6F6;
}
footer .ft_top {
    display:flex; flex-flow:row wrap;
    justify-content:space-between; align-items:center;
}
footer .ft_top .notice {display:flex; flex-flow:row wrap;
    justify-content:space-between;}
footer .ft_top .notice p {margin-right:10px; font-weight: 700;}
footer .ft_top .notice a {}
footer a {}
footer a img {}
footer .other_site {}
footer .other_site a {
    border-bottom:1px solid #111;
    padding:0 10px; display: inline-block; line-height: 46px;
}
footer .other_site a:first-child {margin-right:40px;}
footer .other_site a em {margin-right: 40px;}
footer .other_site a em img {}
footer .ft_mid {
    display: flex; flex-flow:row nowrap;
    justify-content: space-between;
    margin-top:81px;
}
footer .ft_mid .fnb {display: flex; flex-flow:row nowrap;}
footer .ft_mid .fnb li {margin-right: 26px; display: flex; flex-flow:row nowrap;}
footer .ft_mid .fnb li::after {
    content:'';
    display: inline-block; width:1px; height:18px;
    background-color:#aaa;
    margin-left:16px;
}
footer .ft_mid .fnb li:last-of-type:after {display:none;}
footer .ft_mid .fnb li a {}
footer .ft_mid .fnb li a:nth-of-type(4) {}
footer .ft_mid .contact {}
footer .ft_mid .contact .contact_top {display: flex; flex-flow:row nowrap; margin-bottom: 10px;}
footer .ft_mid .contact .grid_c:first-of-type {margin-right: 49px;}
footer .ft_mid .contact .grid_c {
    display:grid;}
footer .ft_mid .contact .grid_c h3 {}
footer .ft_mid .contact .grid_c h3 img {}
footer .ft_mid .contact .grid_c p {}
footer .ft_mid .contact .grid_c p a {font-weight: 700; color:#333;}
footer .ft_mid .contact .grid_c p em {font-weight: 700;}
footer .ft_mid .contact .time {}
footer .ft_mid .contact .time h3 {}
footer .ft_mid .contact .time h3 img {}
footer .ft_mid .contact .time p {}
footer .ft_mid .contact .time p em {}
footer .ft_mid .contact .time p em {}
footer .ft_info {display: flex; flex-flow:row nowrap;}
footer .ft_info #ft_logo {margin-right: 41px;}
footer .ft_info #ft_logo a {}
footer .ft_info #ft_logo a img {}
footer .ft_info ul {}
footer .ft_info ul li {
    margin-bottom:12px; font-size: 0.75rem; letter-spacing:-.2px;
}
footer .ft_info ul li:last-child {margin-bottom:0;}
footer .ft_info ul li address {}
footer #copyright {
    margin-top:51px; color:#171C8F;
    font-size:0.875rem; font-weight:700;
}